
<!-- <div class="container">
  <h3>同步课/{{course?.courseName}}</h3>
  <ul class="list">
    <li>简介</li>
    <li>互动</li>
    <li>任务{{course?.task}}</li>
    <li>成员{{course?.person}}</li>
  </ul>
</div> -->
<div class="con">
  <div class="top">
    <div class="t1">
      <img [class.float]="true"src="assets/images/18.png"/>
      <h3>同步课/{{course?.courseName}}</h3>
    </div>
    <div class="t2">
        <ul class="list">
            <li><a href="#"><img src="assets/images/19.png"/>简介</a></li>
            <li><a href="#"><img src="assets/images/21.png"/>互动</a></li>
            <li><a href="#"><img src="assets/images/20.png"/>任务{{course?.task}}</a></li>
            <li><a href="#"><img src="assets/images/17.png"/>成员{{course?.person}}</a></li>
          </ul>
    </div>
  </div>
</div>
  <div class="bottom">
    <router-outlet></router-outlet>
  </div>
