<div class="container">
    <div class="left">
        <img src="assets/images/head.png"/>
        <div id="name">3-郭艳霞</div>
        <div id="guanzhu">
            <p>粉丝</p>
            <p>关注</p>
        </div>
        <div id="ul">
                <ul>
                        <li>
                          <a [routerLink]="['/home/task']">任务<span>></span></a>
                        </li>
                        <li>
                            <a [routerLink]="['/home/tongbuke']">同步课<span id="span">></span></a>
                        </li>
                        <li>
                            <a [routerLink]="['/home/kecheng']">课程<span>></span></a>
                        </li>
                        <li>
                            <a [routerLink]="['/home/qieshuo']">且说<span>></span></a>
                        </li>
                        <li>
                            <a [routerLink]="['/home/inform']">通知<span>></span></a>
                        </li>
                      </ul>
        </div>
        
      </div>
      <div class="right">
        <router-outlet></router-outlet>
      </div>

</div>

