.con{
    height: 100px;
    background-color:#fcfcfc;
    border:1px solid grey;
}
.list li{
    float:left;
    width: 80px;
    margin-left:20px;
    height: 35px;
    /* border:1px solid red; */
    margin-top:20px;
}
.top{
    height: 100px;
    /* width: 1200px; */
    /* background-color:whitesmoke; */
    /* border:1px solid red; */
}
.t1{
    height: 45px;
    width: 1200px;
    margin-left:150px;
}
.t2{
    height: 45px;
    width: 1200px;
    position: relative;
    margin-left: 130px;
    /* border-top:1px solid red; */
}
.float{
    float:left;
}
.bottom{
    height: 500px;
    width: 1200px;
    /* border:1px solid red; */
    margin-top:20px;
}
a:visited{
    background-color: #fcfcfc;
}

