<div class="container">
  <div class="top">
    <a [routerLink]="['/home/task']"><img src="assets/images/22.png"/></a>
    <a [routerLink]="['/course']">{{video.name}}</a>
    <a [routerLink]="['/course']">{{video.context}}</a><span>/</span>
    <span>{{video.text}}</span>
      
  </div>
  <div class="video">
    <h3>{{video.text}}</h3>
    <video src="{{video?.images}}"controls="controls" autoplay="true"></video>
  </div>
  <div class="bottom">
    <div class="left">
      <div id="b1"></div>
      <div id="b2">技术问答</div>
      <div id="b3">
          <ul>
              <li><img src="assets/images/1.png"/></li>
              <li><img src="assets/images/2.png"/></li>
              <li><img src="assets/images/3.png"/></li>
              <li><img src="assets/images/4.png"/></li>
              <li><img src="assets/images/5.png"/></li>
              <li><img src="assets/images/6.png"/></li>
              <li><img src="assets/images/7.png"/></li>
              <li><img src="assets/images/8.png"/></li>
              <li><img src="assets/images/9.png"/></li>
              <li><img src="assets/images/10.png"/></li>
              <li><img src="assets/images/11.png"/></li>
            </ul>
      </div>
      <div id="b4"></div>
      <div id="b5">          
          <div id="tu">
            <a href="/">
              <img src="assets/images/12.png"/> 
              <span>话题</span></a>
              
          </div>
          <button>提问</button>
      </div>
      <div id="b6">
        <ul>
          <li>
            <div class="img"><img src="assets/images/person.png"/></div>
            <div class="replay">
              <div class="r1">
                  <div class="r11">321地瓜</div>
                  <div class="r12">回复</div>
                  <div class="r13">土豆123</div>    
              </div>
              <div class="r2">有道理鼓掌</div>
              <div class="r3">
                <div class="r31">2017-10-13</div>
                <div class="r32">
                  <p>转发</p>
                  <p>回复</p>
                  <p>赞</p>
                </div>
              </div>
            </div>
          </li>
          <li>
              <div class="img"><img src="assets/images/person.png"/></div>
              <div class="replay">
                <div class="r1">
                    <div class="r11">土豆123</div>
                    <div class="r12">：</div>
                    <div class="r13"></div>    
                </div>
                <div class="r2">微笑</div>
                <div class="r3">
                  <div class="r31">2017-10-13</div>
                  <div class="r32">
                    <p>转发</p>
                    <p>回复</p>
                    <p>赞</p>
                  </div>
                </div>
              </div>
          </li>
          <li>
              <div class="img"><img src="assets/images/person.png"/></div>
              <div class="replay">
                <div class="r1">
                    <div class="r11">土豆123</div>
                    <div class="r12">：</div>
                    <div class="r13"></div>    
                </div>
                <div class="r2">章节内容已看完</div>
                <div class="r3">
                  <div class="r31">2017-10-13</div>
                  <div class="r32">
                    <p>转发</p>
                    <p>回复</p>
                    <p>赞</p>
                  </div>
                </div>
              </div>
          </li>
          <li>
              <div class="img"><img src="assets/images/person.png"/></div>
              <div class="replay">
                <div class="r1">
                    <div class="r11">123地瓜</div>
                    <div class="r12">回复</div>
                    <div class="r13">雪梨教育</div>    
                </div>
                <div class="r2">欢呼</div>
                <div class="r3">
                  <div class="r31">2017-10-13</div>
                  <div class="r32">
                    <p>转发</p>
                    <p>回复</p>
                    <p>赞</p>
                  </div>
                </div>
              </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="right">
      <img src="assets/images/25.png"/>
    </div>
    
  </div>
</div>
