
.left{
    /* border:1px solid red; */
    height:700px;
    width:220px;
    float:left;
}
.right{
    /* border:1px solid red; */
    box-shadow: 2px 2px 20px rgba(0,0,0,0.06);
    /* height: 600px; */
    width: 900px;
    margin-left:47px;
    float:left;
}
span{
    margin-left:160px;
}
#span{
    margin-left:145px;
}
#name{
    /* border:1px solid red; */
    height:50px;
    margin-left:70px;
}
p{
    float:left;
    margin-left:50px;
}
#guanzhu{
    /* border:1px solid red; */
    height:50px;
}
#ul{
    /* border:1px solid red; */
    height:300px;
}
a:hover{
    color:orange;
}
a:link{
    color:grey;
}
