nav{
    height:50px;
    background-color:whitesmoke;

}
.nav{
    width:1200px;
    margin:0 auto;
    line-height:50px;
    margin-left:500px;
}
.nav li{
    float:left;
    margin:0 30px;
    cursor:pointer;
}
.back{
    background-color:grey;
    border-top:orangered;
}
#brand{
    float:left;
    margin-left:150px;
}
.search{
    height:30px;
}
.icon2{
    margin-top: 8px;
   
}
.icon1{
    margin-top:12px;
   
}
.my1 li{
    display:none;
}
.my2 li{
    display:none;
}

a:hover{
    
    /* border:1px solid red; */
    background-color: gray;
}