<div id="top">
  <a href="#">
      <div id="span1">@我的</div>
  </a>
  <a href="#">
      <div id="span2">
          <div id="img1">
            <img src="assets/images/14.png"/>
          </div>
          <div id="zan">收到的赞</div>
        </div>
  </a>
  
  <div id="span3">
    <a href="#">
        <div id="img2">
            <img src="assets/images/15.png"/>
        </div>
        <div id="ping">评论</div>
        <div id="op"></div>
    </a>
     
  </div>
</div>
<div id="hr"><hr/></div>
<div id="bottom">
    <router-outlet></router-outlet>
</div>
