<div id="head">
  <ul>
    <li><a href="">我加入的</a></li>
  </ul>
  <input class="search1" type="search" placeholder="输入同步课名称搜索"/>
  <button class="search2">搜索</button>
</div>
<hr/>
<div id="content">
  <ul>
    <li *ngFor='let course of courses1;'>
      <a  [routerLink]="['/home/tongbuke']">
        <img src="{{course.images}}" alt=""/>
        <div id="message">
          <h3>{{course.courseName}}</h3>
          <div id="digest">{{course.message}}</div> 
          <div id="span">
            <span>任务{{course.task}}</span>
            <span id="span2">成员{{course.person}}</span>
          </div> 
        </div>
      </a>
    </li>
  </ul>
  <hr/>
</div>
