
ul li{
    margin-top:20px;
    height: 100px;
    /* border:1px solid gray; */
}
.top{
    border:1px solid gray;
    float: left;
    height: 50px;
    width: 900px;
    line-height: 50px;
}
.top  a{
    float: left;
    color:black;
    width: 220px;
}
.top span{
    float: left;
}
.bottom{
    width: 900px;
    float: left;
    border:1px solid gray;
    
    background-color: whitesmoke;
}
span[class $="span"]{
    color:orange;
    margin-left:5px;
    height: 20px;
    width: 100px;
    /* border:1px solid gray; */
}

.span3{
    color:#03b8cf;
    font-size:22px;
    line-height: 1;
    margin-left:420px;
}
.span4{
    color:#03b8cf;
    font-size:10px;
}
.bottom a{
    float: left;
    width: 300px;
    color:gray;
 
}

.img1{
    float: left;
    margin-left:494px;
    width: 50px;
}

.img2{
    float: left;
} 
