#head{
    /* border:1px solid red; */
    height:100px;
}
#head ul li{
    margin-top:50px; 
    margin-left:70px;
    float:left;
}
.search1{
    margin-top:50px; 
    margin-left:300px;
}
a:hover{
    color:orangered;
}
