
#top{
    /* border:1px solid red; */
    height: 50px;
}
/* #bottom{
    border:1px solid red;
    height: 500px;
}  */
#top ul{
    margin-top:30px;
}
#top ul li{
    margin-left:30px;
    display:inline;
}
a{
    color:black;
}

a:hover{
    color:orangered;
}