<div id="top">
  <div id="xue">学霸，学渣，偶想说～</div>
  <div id="tubiao">
    <ul>
      <li><img src="assets/images/1.png"/></li>
      <li><img src="assets/images/2.png"/></li>
      <li><img src="assets/images/3.png"/></li>
      <li><img src="assets/images/4.png"/></li>
      <li><img src="assets/images/5.png"/></li>
      <li><img src="assets/images/6.png"/></li>
      <li><img src="assets/images/7.png"/></li>
      <li><img src="assets/images/8.png"/></li>
      <li><img src="assets/images/9.png"/></li>
      <li><img src="assets/images/10.png"/></li>
      <li><img src="assets/images/11.png"/></li>
    </ul>
  </div>
  <div id="input">
    <textarea rows="8" cols="138"></textarea>
  </div>
  <div id="hua">
    <a href="#" class="img1"><img src="assets/images/12.png"/></a>
    <a href="#" id="span1"><span>话题</span></a>
    <div id="span2"><span>|</span></div>
    <a href="#"><div class="img2"><img src="assets/images/13.png"/></div>
    <div id="span3"><span>发长文</span></div></a>
    <div id="button"><button type="submit">发布</button></div>
    </div> 
</div>
<div id="words">
  <ul>
    <li><a [routerLink]="['']">动态</a></li>
    <li><a [routerLink]="['']">我的赞</a></li>
    <li><a [routerLink]="['']">我的收藏</a></li>
  </ul>
</div>
<div id="bottom">
    <router-outlet></router-outlet>
</div>
