<div id="bottom">
          <ul>
              <li *ngFor='let course of studying;'>
                <a  [routerLink]="['/course',studying.id]">
                  <img src="{{course.images}}" alt=""/>
                  <h4>{{course.courseName}}</h4>
                  <div>
                  <p>{{course.message}}</p>
                  <div id="span">
                      <span>课时{{course.task}}</span>
                      <span>人数{{course.person}}</span>
                  </div>
                 
                  
                  </div>
                </a>
              </li>
            </ul>

      </div>
